---
// @ts-nocheck
import '../../styles/global.css';
import '../../styles/vars.css';
import '../../styles/outfit.css';

import Header from '../../components/header.astro';
import Head from '../../components/head.astro';

const urlVillagers = "https://api.nookipedia.com/villagers?pagination[itemsPerPage]=50";
const Villagersresponse = await fetch(urlVillagers, {
    headers: {
        "X-API-KEY": import.meta.env.PUBLIC_NOOK_API_KEY,
        "Accept-Version": "1.0.0"
    }
});

const data = await Villagersresponse.json();
const villagers = data.slice(0, 100);

// astro.params van workshop met Jad
const character = Astro.params.detail

// Met hulp van Jad gemaakt, zoekt naar de villager met precies dezelfde naam als die van character
const details = villagers.find( villager => villager.name === character)

const urlClothes = "https://api.nookipedia.com/nh/clothing?pagination[itemsPerPage]=50";
const clothesResponse = await fetch(urlClothes, {
    headers: {
        "X-API-KEY": import.meta.env.PUBLIC_NOOK_API_KEY,
        "Accept-Version": "1.0.0"
    }
});

const clothesData = await clothesResponse.json();
const headwearFilter = clothesData.filter(clotheData => clotheData.category === 'Headwear')
console.log(headwearFilter[3])
const headwear = headwearFilter.slice(50, 100);
---

<html lang="en">
    <Head />
    <body>
        <Header />
        <main>
            <h1>Saved outfits</h1>
            <ul class="saved-outfits villagers-grid"></ul>
            <button class="remove-items-button">Remove all outfits</button>
        </main>
        <footer></footer>
        
    </body>
</html>

<script define:vars={{ headwearFilter, villagers }}>
    // @ts-nocheck

    const outfitList = document.querySelector('.saved-outfits');
    const savedOutfits = JSON.parse(localStorage.getItem('outfit')) || [];
    const removeOutfits = document.querySelector('.remove-items-button');
    
    savedOutfits.forEach(outfit => {
        // api data name is without hat- so I remove it
        const hatName = outfit.outfit.replace('hat-', '');

        // Search for the same 
        const outfitHat = headwearFilter.find( head => head.name === hatName);
        console.log(outfitHat);

        const outfitVillager = villagers.find( villager => villager.name === outfit.villager)

        // Make html elements where outfits will be placed
        const listItem = document.createElement('li');

        const villagerName = document.createElement('p');
        villagerName.textContent = outfit.villager;

        const villagerImage = document.createElement('img');
        villagerImage.src = outfitVillager.image_url;
        villagerImage.alt = outfitVillager.name;

        const hatImage = document.createElement('img');
        hatImage.src = outfitHat.variations[0].image_url;
        hatImage.alt = outfitHat.name;

        // Put elements in the ul
        listItem.appendChild(villagerName);
        listItem.appendChild(hatImage);
        listItem.appendChild(villagerImage);

        outfitList.appendChild(listItem);
    });

    // remove outfit data when button clicked
    removeOutfits.addEventListener('click', () => {
        // https://developer.mozilla.org/en-US/docs/Web/API/Storage/removeItem
        localStorage.removeItem('outfit');
        outfitList.innerHTML = '';
    })

</script>