header {
    .goback {
        height: 3rem;
        width: 6rem;
        background-color: var(--interface-color-beige);
        border-radius: 99px;
        border: none;
        margin-bottom: 2rem;

        a {
            list-style: none;
            text-decoration: none;
            color: black;
        }
    }
}

.dress-character {
    display: flex;
}

.villager-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    height: 70vh;
    background-color: var(--interface-color-beige);
    justify-self: center;
    margin: 2rem;
    margin-top: 0;
    border-radius: 2rem;
    
    .villager-img {
        max-width: 100%;
        height: 50vh;
        justify-self: center;
        margin: 2rem;
    } 
}

/* headwear */
.headwear-container {
    background-color: var(--interface-color-beige);
    width: clamp(30vw, 30vw, 35vw);
    height: 70vh;
    border-radius: 2rem;
    margin-bottom: 1rem;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: mandatory;
        overscroll-behavior: contain;
        margin: 0;
        height: 70vh;

        li {
            display: flex;
            justify-content: center;
            scroll-snap-align: center;
            margin-bottom: 5rem;

            img {
                width: 8vw;
            }
        }
    }
}

.droppable {
    width: 15rem;
    height: 11rem;
    position: absolute;
    top: 17%;
    /* border: dotted 10px black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropped {
    width: 10rem;
    justify-self: center;
}

.remove-items {
    display: none;
    width: 10rem;
    height: 2rem;
    border-radius: 99px;
}

.show {
    display: block;
}

@media (max-width: 870px) {
    .dress-character {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .villager-container {
        width: 75vw;
    }

    .headwear-container {
        width: 100%;
    }
}